{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "auto",
  "useTabs": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "bracketSpacing": true
}
